<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735827875404-vetafd7urqf2ond1fh2c5s546mvkj5qa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735827875404-vetafd7urqf2ond1fh2c5s546mvkj5qa</string>
	<key>API_KEY</key>
	<string>AIzaSyBXHYbXPFZYl1ZqcGazkVeAdKGk-Lz8mwY</string>
	<key>GCM_SENDER_ID</key>
	<string>735827875404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pengaduanMasyarakatVer2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>app-pengaduan-ver2</string>
	<key>STORAGE_BUCKET</key>
	<string>app-pengaduan-ver2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735827875404:ios:30bc38b940adb7743e06e9</string>
</dict>
</plist>